$green: rgb(127,118,0);
$blue: rgb(0,110,199);
$orange: rgb(180,117,0);
$violet: rgb(153,82,25);
$brown: rgb(94,82,0);

$light-brown: rgb(176,165,109);
$light-orange: rgb(223,125,0);

$grey-darkest: #bababa;
$grey-dark: #cacaca;
$grey: #dadada;
$grey-light: #eee;
$grey-lightest: #fafafa;
$grey-even-darker: #d7d7d7;

$white: #fff;
$black: #000;
$grey-text: rgb(51, 51, 51);

$grey-alpha-03: rgba(255, 255, 255, 0.3);
